<div class="monitor-frame">

    <div class="screen-wrapper">

        <div class="screen-frame" *ngIf="screenMode === ''">
            <img id="dragon" [src]="currentDragonImage" alt="Dragon">
            <section class="screen-bottom-section">
                <label>DRAGÕES ABATIDOS</label>
                <label>0001</label>
            </section>
            </div>

        <textarea id="textAreaSrc"
            class="screen-frame"
            [(ngModel)]="srcContent"
            placeholder="Escreva seu código-fonte"
            *ngIf="screenMode === 'src'"
        ></textarea>

        <div class="screen-frame output-container" *ngIf="screenMode === 'output'">
          <div class="token-list">
            <div class="token-item" *ngFor="let token of tokens" [class.error-token]="token.tipo === 'ERRO'">
              <span class="token-type" [attr.data-type]="token.tipo">[{{token.tipo}}]</span>
              <span class="token-position">(linha: {{token.linha}}, coluna: {{token.coluna}})</span>
              <span class="token-lexema">"{{token.lexema}}"</span>
            </div>
          </div>
        </div>
    </div>

    <div class="button-container">
        <div class="button-label-pair">
            <button class="monitor-button btn-1" (click)="escreverBtn()"></button>
            <label class="bold lbl-btn-1">ESCREVER</label>
        </div>

        <div class="button-label-trio">
            <label id="lbl-src">SRC</label>
            <button class="monitor-button btn-2"></button>
            <div class="label-pair-wrapper">
                <label class="lbl-output">OUT</label>
                <label class="lbl-output">PUT</label>
            </div>
        </div>

        <div class="button-label-pair">
            <label>ANALISAR</label>
            <button class="monitor-button btn-3" (click)="compilarBtn()"></button>
        </div>
    </div>

</div>

<div class="monitor-neck"></div>

<div class="desktop-body">

    <div class="desktop-body-left">
        <div class="lil-square"></div>

        <div class="vertical-line"
        *ngFor="let number of [].constructor(11)"></div>
    </div>

    <div class="desktop-body-right">
        <div class="something-square">
            <div class="black-square"></div>
            <div class="horizontal-bar"></div>
            <div class="mixed-square">
                <div class="point"></div>
            </div>
        </div>

        <div class="something-square">
            <div class="black-square"></div>
            <div class="horizontal-bar"></div>
            <div class="mixed-square">
                <div class="point"></div>
            </div>
        </div>
    </div>
</div>
